body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
    font-weight: bold;
}
.row{
    /* border: 1px solid yellow;     */
    margin: 0;
    padding: 0;
}
table {
    margin: 0px;
    padding: 0px;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 13px;    
}
table .thead-dark{
    text-align: center;
}
input.checkbox{
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;   
}
input{
    margin: 0;
    padding: 0;
    border: 1px solid blue;
}
#btn{
    width: 120px;
    height: 50px;
    display: block;
    text-align: center;
    background-color: #4287f5;
    margin: 0 auto;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
#btn:hover{
    background-color: tomato;
    color: white;
}
a{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 2px;
}
.social-icons{
    text-align: center;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    margin-right: 1.5rem;
    
  }
  /* .social-icons .social-icon:last-child {
    margin-right: 0;
  } */
  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }